body{
    background-image: url(era.jpg);
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
    background: #af0899ea;
}
.sidebar header{
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #063146;
    user-select: none;
    font-family: cursive;
}
.sidebar ul a{
	display: inline-block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-style: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
    transition: .4s;
    font-family: cursive;
}
ul li:hover a{
	padding-left: 50px;
}